html {
    overflow: hidden;
    margin-top: 0px;
    height: 100vh;
    min-width: 1300px;
}
    
body, .header, main {
    background-color: transparent !important;
}

html {
    background: linear-gradient(to bottom, #22A86B 40%, white 40%);
}


main {
    padding-top: 40px;
}

header h1 {
    margin: auto;
}
.musicadd {
    text-align: left;
}

.title {
    color: white;
    font-size: 55px;
    text-align: center;
    font-family: 'Monoton', cursive;
}

.header {
    border: none;
}
.headerhr {
    width: 95vw;
    border-color: white;

}
.musicaddbtn {
    background-color: #22A86B !important;
    margin-bottom: 10px;
    color: white !important;
}
.editbtn {
    color: white !important;
    background-color: #22A86B !important;
}
.deletebtn {
    color: white !important;
    background-color: #b50c00 !important;
    border: 1px solid #b50c00 !important;
}

.musicadd {
    color: white;
}

thead th {
    color: #22A86B;
}

.div-table {
    background-color: #4a4a4a ;
    color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    height: 720px;
    overflow: hidden;
    min-width: 1280px;
}

table tr td {
    color: white;
}
.table {
    border: #959794;
}

.tablethead {
    display: inline-table;
    table-layout: fixed;
    width: 100%;
}

.table tbody {
    display: inline-table;
    table-layout: fixed;
    width: 100%;
}
