@using System.Data;
@using csharpplaylist.App_Code.csharp;

@{
    songMethods songMethods = new songMethods();

    Session["songmethods"] = songMethods;

    DataSet ds = songMethods.GetPlaylist("Playlist.xml");

    if (IsPost)
    {
        songMethods.DeleteSong(Request.Form["verwijdermij"]);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="~/Content/dialog.css" type="text/css" />
</head>
<body>
    <script>
        var globalid = null;
        function getGlobalId(idFromTable) {
            console.log(idFromTable)
            globalid = idFromTable;
            document.getElementById("verwijdermij").value = globalid;
            document.getElementById("vraagid").innerHTML = "Weet je zeker dat je de song " + globalid + " wilt verwijderen?";
        }
    </script>
    <div id="dialog" class="modal" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Song</h5>
                    <button type="button" class="close" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p id="vraagid"></p>
                </div>
                <div class="modal-footer">
                    <form method="get" action="">
                        <button type="button" id="dialogClose" class="btn btn-secondary">Close</button>
                        <input type="hidden" id="verwijdermij" name="verwijdermij" />
                        <input type="submit" class="btn btn-danger" value="Delete Song" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <header class="toast-header">
        <h1 class="card-title">Playlist</h1>
    </header>
    <nav>

    </nav>
    <main>
        <div>
            <div>
                Voeg een muziekje toe
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Nummer</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Play</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow dr in ds.Tables["song"].Rows)
                    {
                        <tr>
                            <td>@dr["title"]</td>
                            <td>@dr["artist"]</td>
                            <td><audio controls><source src="@dr["file"]" type='audio/mpeg'>Your browser does not support the audio element.</audio></td>
                            <td><a class="btnDelete btn btn-danger" onclick="getGlobalId(@dr["id"])"><i class='fa fa-trash' style="color: white"></i></a> <a class="btn btn-primary" href="~/Pages/update.cshtml?id=@dr["id"]"><i class="fas fa-edit"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        $(".btnDelete").click(function () {
            $("#dialog").fadeIn();
        });
        $("#dialogClose").click(function () {
            $("#dialog").fadeOut();
        });
    </script>
</body>
</html>
