
@using csharpplaylist.App_Code.csharp;
@using System.Data;


@{
    songMethods songMethods = (songMethods)Session["songmethods"];
    DirectoryInfo d = new DirectoryInfo(HttpContext.Current.Server.MapPath("~/music_files"));
    FileInfo[] files = d.GetFiles("*.*");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="~/Content/dialog.css" type="text/css" />
</head>
<body>
    <header class="toast-header">
        <h1 class="card-title">Add Song</h1>
    </header>
    <main>
        <form method="post" action="" enctype="multipart/form-data">
            <label>Title: </label><input name="title" type="text" /><br />
            <label>Artist: </label><input name="artist" type="text" /><br />
            <label>File: </label><input name="file" type="file" /><br />
            <input type="submit" />
        </form>
    </main>
    @{
        if (IsPost)
        {


            HttpPostedFileBase file = Request.Files["file"];
            string fname = "";

            if (file != null && file.ContentLength > 0)
            {
                fname = Path.GetFileName(file.FileName);
                file.SaveAs(Server.MapPath(Path.Combine("~/music_files/", fname)));
            }

            int maxID = songMethods.getValidId();
            DataRow dr = songMethods.CreateEmptyDataRow();


            dr[0] = maxID;
            dr[1] = Request.Form["title"];
            dr[2] = Request.Form["artist"];
            dr[3] = "./music_files/" + fname;

            songMethods.CreateSong(dr);
            Response.Redirect("~/index.cshtml");
        }
    }
</body>
</html>
